@page
@model PrivacyModel
@{
    ViewData["Title"] = "About Page";
}
<h1>@ViewData["Title"]</h1>

<h2 style="text-align:center">This Project was made by:</h2>
<div class="row">
    <div class="column">
        <div class="card">
            <div class="container">
                <h2>Daniel Schwartzman</h2>
                <p>https://github.com/DanielSchwartzman</p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <div class="container">
                <h2>Tomer Guzikov</h2>
                <p>https://github.com/Tomer258</p>
            </div>
        </div>
    </div>
</div>
