@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-3" style="color: black; font-weight: bold;"> Welcome to HalfChess </h1>
    <br /><br />
    <h4>In case you already have an account, please start playing by launching "Placeholder". </h4>
    <h4>If you dont have account associated with your name, please register below </h4>

    <br />
    <a href="/Register" class="btn btn-primary btn-lg" style="color: black; font-weight: bold;">Register</a>

</div>
